# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
myenv/

# Environment variables
.env



# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db



# Environment variables (DB credentials)
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
